body{
	background-color:azure;
	align-content: center !important;
	align-items: center !important;
}
.jumbotron{
	background-color:transparent !important;
}
/*Colores para los slides*/

#ex1Slider .slider-selection {
	background: #BA0000;
}
#ex1Slider .slider-handle {
	background: #880000;
}


#ex2Slider .slider-selection {
	background: #008800;
}
#ex2Slider .slider-handle {
	background: #00BA00;
}


#ex3Slider .slider-selection {
	background: #0000BA;
}
#ex3Slider .slider-handle {
	background: #000088;
}
